-e git+git://github.com/thinkingmachines/pybigquery.git@gis#egg=pybigquery
alabaster==0.7.12
appdirs==1.4.4
attrs==19.3.0
babel==2.8.0
bleach==3.1.5
bump2version==1.0.0
bumpversion==0.6.0
cachetools==4.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
coverage==5.1
coveralls==2.0.0
cryptography==3.2.1
distlib==0.3.0
docopt==0.6.2
docutils==0.16
filelock==3.0.12
flake8==3.5.0
future==0.18.2
geoalchemy2==0.8.4
google-api-core==1.21.0
google-auth-oauthlib==0.4.1
google-auth==1.18.0
google-cloud-bigquery[pandas,pyarrow]==1.25.0
google-cloud-core==1.3.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
idna==2.9
imagesize==1.2.0
jeepney==0.4.3
jinja2==2.11.2
keyring==21.2.1
loguru==0.5.1
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
numpy==1.19.0
oauthlib==3.1.0
packaging==20.4
pandas-gbq==0.13.2
pandas==1.0.5
pkginfo==1.5.0.1
pluggy==0.13.1
pockets==0.9.1
protobuf==3.12.2
py==1.8.2
pyarrow==0.17.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.3.1
pycparser==2.20
pydata-google-auth==1.1.0
pyflakes==1.6.0
pygments==2.6.1
pyparsing==2.4.7
pytest-cov==2.10.0
pytest==5.4.3
python-dateutil==2.8.1
python-dotenv==0.9.1
pytz==2020.1
readme-renderer==26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests==2.24.0
rsa==4.6
secretstorage==3.1.2
six==1.15.0
snowballstemmer==2.0.0
sphinx-rtd-theme==0.5.0
sphinx==1.7.6
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.2.2
sqlalchemy==1.3.17
toml==0.10.1
tox==3.15.2
tqdm==4.46.1
twine==3.1.1
urllib3==1.25.9
virtualenv==20.0.25
wcwidth==0.2.5
webencodings==0.5.1

# The following packages are considered to be unsafe in a requirements file:
# setuptools
